#viewer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity $time-smooth $natural;

  body.editmode & {
    opacity: 0.5;
  }
}

.board {
  position: absolute;
  top: calc(50% - 50vmin + #{($edge*3 + $button-height) / 2});
  right: calc(#{$edge}*2 + #{$fab-height});
  width: calc(100vmin - #{$edge*3 + $button-height});
  height: calc(100vmin - #{$edge*3 + $button-height});
  font-size: 3vmin;

  #viewer.animated & {
    transition: all $time-smooth $natural;
  }

  body.playmode & {
    top: calc(#{$edge} + 50% - 50vmin + 0.5em);
  }

  body.playmode.hide-ptn & {
    right: calc(1em + 50% - 50vmin + #{($edge*3 + $button-height) / 2});
    z-index: 1;
  }

  @media (max-aspect-ratio: 11/10) {
    right: calc(1em + 50% - 50vmin + #{($edge*3 + $button-height) / 2});
  }

  .squares {
    position: absolute;
    top: 0;
    bottom: 2em;
    left: 2em;
    right: 0;
    background-color: $primary-color;

  }

  .square {
    position: absolute;
    background-color: $primary-color-light;

    &.dark {
      background-color: $primary-color;
    }
  }

  .piece {
    position: absolute;
  }

  .labels {
    color: $primary-color-text;
    position: absolute;
    display: flex;
    font-size: 1em;
    justify-content: space-around;

    &.row {
      top: 0;
      left: 0;
      flex-direction: column-reverse;
      width: 2em;
      height: calc(100% - 2em);
      text-align: center;
    }
    &.col {
      bottom: 0;
      right: 0;
      flex-direction: row;
      width: calc(100% - 2em);
      height: 2em;
      line-height: 2em;
    }
  }
}

@for $size from 3 through 9 {
  .size-#{$size} .square,
  .size-#{$size} .piece {
    width: percentage(1/$size);
    height: percentage(1/$size);
  }

  @for $col from 0 through $size - 1 {
    .size-#{$size} .c#{$col} {
      left: percentage($col/$size);
    }
  }
  @for $row from 0 through $size - 1 {
    .size-#{$size} .r#{$row} {
      bottom: percentage($row/$size);
    }
  }
}
