$button-height: 2.5rem;
button, .button, .fab {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: $button-height;
  line-height: $button-height;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  cursor: default;
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  box-shadow: $shadow1;
  transition: all $time-quick ease-out;

  @include unselectable;

  &:hover {
    box-shadow: $shadow2;
  }
  &:active {
    box-shadow: $shadow4;
  }
}

$fab-height: 56px;
$fab-height-small: 40px;
.fab {
  border-radius: 50%;
  width: $fab-height;
  height: $fab-height;
  line-height: $fab-height;
  padding: 0;
  overflow: hidden;
  background-color: $accent-color;
  color: $primary-color-text;
  box-shadow: $shadow3;
  font-size: 1.6rem;

  i {
    line-height: $fab-height;
  }

  &.small {
    width: $fab-height-small;
    height: $fab-height-small;
    line-height: $fab-height-small;

    i {
      line-height: $fab-height-small;
    }
  }

  &:hover {
    background-color: $accent-color-light;
    box-shadow: $shadow4;
  }
  &:active {
    box-shadow: $shadow5;
  }
}
