html, body {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: $sans;
  background-color: $primary-color-500;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar {
	height: $scrollbar;
	width: $scrollbar;
}
::-webkit-scrollbar-thumb {
	background-color: $primary-color-200;
}

@include selection {
  background: rgba($accent-color, 0.65);
}
