
.mdl-layout__drawer-button i {
  color: $white !important;
}

#menu {
  cursor: default;
  overflow-x: hidden;
  @include unselectable;

  a {
    text-decoration: none;
    cursor: pointer;

    &.mode li {
      font-size: 18px;
    }
  }

  i:first-child {
    margin-right: 32px;
  }

  .item-checkbox,
  .item-file,
  .mdl-checkbox {
    cursor: pointer;
  }

  .item-checkbox .mdl-checkbox__label ~ * {
    margin-left: 4px;
  }

  &.mdl-layout__drawer > .mdl-layout-title,
  &.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
  }

  &.is-visible {
    will-change: scroll-position;
  }
  &:not(.is-visible) {
    .mdl-accordion__content {
      will-change: auto;
    }
  }

  .mdl-navigation {
    padding-top: 0;
  }

  .mdl-list {
    padding-bottom: 0;
  }

  .mdl-checkbox.is-upgraded {
    padding-left: 56px;
  }

  .mdl-checkbox__label {
    font-size: inherit;
  }

  .mdl-slider__label {
    padding-left: 56px;
  }
}
