#messages {
  > div {
    position: absolute;
    top: 0;
    left: 0;
    padding: $edge;
    overflow: auto;
    max-height: 100%;
    max-width: calc(100% - #{$edge + $fab-height});
    box-sizing: border-box;
    z-index: 1;
  }

  > div.messages-parse,
  > div.messages-board {
    opacity: 0;
    transform: translateX(-100%);
    transition: all $time-smooth $natural;
  }

  > div.messages-parse.visible,
  body.playmode & > div.messages-board {
    transform: translateX(0);
    opacity: 1;
  }

  .message {
    float: left;
    clear: left;
    position: relative;
    white-space: nowrap;
    border-radius: 2px;
    margin-top: 0.5em;
    margin-right: $edge;
    max-width: 100%;
    box-shadow: $shadow1;
    transition: all $time-smooth $natural;

    &.animating {
      opacity: 0;
      margin-top: calc(-1em - 2rem);
    }

    &.comment {
      .content {
        margin-right: $edge;

        i.icon-x {
          display: none;
        }
      }
    }

    .content {
      margin: 1rem calc(#{$edge*2} + 1.5rem);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      position: absolute;
      padding: $edge*2/3 $edge;
      left: 0;
      top: 0;
      font-size: 1.5em;

      &.icon-x {
        left: auto;
        right: 0;
        cursor: default;
      }
    }

    &.success {
      background-color: $success-color;
      color: $success-text-color;
    }

    &.warning {
      background-color: $warning-color;
      color: $warning-text-color;
    }

    &.error {
      background-color: $error-color;
      color: $error-text-color;

      b {
        border-bottom: 2px solid $error-text-color;
      }
    }

    &.help {
      background-color: $help-color;
      color: $help-text-color;
    }

    &.info {
      background-color: $info-color;
      color: $info-text-color;
    }

    &.comment {
      background-color: rgba($primary-color, 0.8);
      color: $primary-color-text;
    }
  }
}
