/* Autocompile */

@import 'mixins.scss';
@import 'variables.scss';
@import 'global.scss';
@import 'button.scss';
@import 'messages.scss';
@import 'grammar.scss';
@import 'board.scss';

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap
}

#editor {
  position: relative;
  color: $primary-color-light;
  font-family: $monospace;
  flex-grow: 1;

  body.playmode & {
    @include unselectable;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba($primary-color-dark, 0.75) 10em, rgba($primary-color-dark, 0) 30em);
    transition: opacity $time-smooth $natural;

    body.playmode & {
      opacity: 0;
    }
  }
}

#ptn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.5em;
  padding: $edge;
  margin: 0;
  white-space: pre-wrap;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);

  &:focus {
    outline: none;
  }

  body.playmode & {
    cursor: default;
  }

  body.playmode:not(.ptn) & {
    overflow: hidden;
  }

  .tag, .comment, .move > * {
    transition: opacity $time-smooth $natural;

    body.playmode & {
      opacity: 0.5;
    }
    body.playmode:not(.ptn) & {
      opacity: 0;
    }
  }

  .ply {
    transition: all $time-quick ease-out;
  }
  body.editmode & .ply,
  body.playmode.ptn & .ply {
    &:hover {
      box-shadow: $shadow2;
      opacity: 1;
      z-index: 1;
    }
    &:active,
    &.active {
      box-shadow: $shadow4;
      opacity: 1;
      z-index: 1;
    }
  }
}

#fab {
  position: absolute;
  right: $edge;
  bottom: $toolbar-height - $fab-height/2;
  z-index: 2;

  i {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: all $time-smooth ease-in-out;

    &.icon-play {
      transform: translate(-50%) rotate(179deg);
    }
    &.icon-edit {
      transform: translate(-50%) rotate(-90deg);
    }
  }

  body.editmode & {
    i.icon-play {
      opacity: 1;
      transform: translate(-50%);
    }
  }

  body.playmode & {
    i.icon-edit {
      opacity: 1;
      transform: translate(-50%);
    }
  }

  body.error & {
    background-color: $error-color;
    color: $error-text-color;

    &:hover {
      background-color: lighten($error-color, 8%);
    }

    i {
      opacity: 0 !important;
    }
    i.icon-error {
      opacity: 1 !important;
    }
  }
}

#controls {
  overflow: hidden;
  background-color: $whitish;
  transition: height $time-smooth $natural;
  flex-shrink: 0;
  z-index: 1;
  height: 0;

  body.playmode & {
    height: $toolbar-height;
  }

  > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: $edge/2 $edge;
  }

  button + button {
    margin-left: $edge/2;
  }

  button.play {
    i {
      transition: opacity $time-smooth $natural;

      &.icon-pause {
        position: absolute;
        top: 0;
        left: 0.5em;
        opacity: 0;
      }
    }

    body.playing & {
      i.icon-play {
        opacity: 0;
      }
      i.icon-pause {
        opacity: 1;
      }
    }
  }
}

#permalink {
  position: absolute;
  top: $edge;
  right: $edge;
  z-index: 1;
}
