rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth.uid != null;
    }

    function isUser(uid) {
      return request.auth.uid == uid;
    }

		function isPlayer(gameID) {
    	return get(
        /databases/$(database)/documents/games/$(gameID)
      ).data.config.players.hasAny([null, request.auth.uid]);
    }

    match /names/{nameID} {
      allow update, delete: if isUser(
				get(/databases/$(database)/documents/names/$(nameID)).data.uid
			);
    	allow read, create: if isSignedIn();
    }

    match /games/{gameID} {
    	allow read, create: if isSignedIn();
      allow update: if isPlayer(gameID);

      match /moves/{move} {
        allow read, create, update: if isPlayer(gameID);
        allow read: if isSignedIn();
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
