/* Autocompile */

@import "variables";

@font-face {
    font-family: 'material';
    src:    url('#{$icomoon-font-path}/material.eot?wxgcoz');
    src:    url('#{$icomoon-font-path}/material.eot?wxgcoz#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/material.ttf?wxgcoz') format('truetype'),
        url('#{$icomoon-font-path}/material.woff?wxgcoz') format('woff'),
        url('#{$icomoon-font-path}/material.svg?wxgcoz#material') format('svg');
    font-weight: normal;
    font-style: normal;
}

i, .icomoon-liga {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'material' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-move {
    &:before {
        content: $icon-move;
    }
}
.icon-menu {
    &:before {
        content: $icon-menu;
    }
}
.icon-preferences {
    &:before {
        content: $icon-preferences;
    }
}
.icon-open {
    &:before {
        content: $icon-open;
    }
}
.icon-download {
    &:before {
        content: $icon-download;
    }
}
.icon-time {
    &:before {
        content: $icon-time;
    }
}
.icon-player {
    &:before {
        content: $icon-player;
    }
}
.icon-add {
    &:before {
        content: $icon-add;
    }
}
.icon-grid-solid {
    &:before {
        content: $icon-grid-solid;
    }
}
.icon-points {
    &:before {
        content: $icon-points;
    }
}
.icon-cancel {
    &:before {
        content: $icon-cancel;
    }
}
.icon-comment {
    &:before {
        content: $icon-comment;
    }
}
.icon-check {
    &:before {
        content: $icon-check;
    }
}
.icon-success {
    &:before {
        content: $icon-success;
    }
}
.icon-x {
    &:before {
        content: $icon-x;
    }
}
.icon-edit {
    &:before {
        content: $icon-edit;
    }
}
.icon-drag_handle {
    &:before {
        content: $icon-drag_handle;
    }
}
.icon-error {
    &:before {
        content: $icon-error;
    }
}
.icon-date {
    &:before {
        content: $icon-date;
    }
}
.icon-event {
    &:before {
        content: $icon-event;
    }
}
.icon-first {
    &:before {
        content: $icon-first;
    }
}
.icon-fullscreen {
    &:before {
        content: $icon-fullscreen;
    }
}
.icon-fullscreen-exit {
    &:before {
        content: $icon-fullscreen-exit;
    }
}
.icon-result {
    &:before {
        content: $icon-result;
    }
}
.icon-star-solid {
    &:before {
        content: $icon-star-solid;
    }
}
.icon-grid-line {
    &:before {
        content: $icon-grid-line;
    }
}
.icon-help {
    &:before {
        content: $icon-help;
    }
}
.icon-info {
    &:before {
        content: $icon-info;
    }
}
.icon-link {
    &:before {
        content: $icon-link;
    }
}
.icon-down {
    &:before {
        content: $icon-down;
    }
}
.icon-left {
    &:before {
        content: $icon-left;
    }
}
.icon-right {
    &:before {
        content: $icon-right;
    }
}
.icon-up {
    &:before {
        content: $icon-up;
    }
}
.icon-last {
    &:before {
        content: $icon-last;
    }
}
.icon-circle {
    &:before {
        content: $icon-circle;
    }
}
.icon-pause {
    &:before {
        content: $icon-pause;
    }
}
.icon-player-line {
    &:before {
        content: $icon-player-line;
    }
}
.icon-player-solid {
    &:before {
        content: $icon-player-solid;
    }
}
.icon-play {
    &:before {
        content: $icon-play;
    }
}
.icon-site {
    &:before {
        content: $icon-site;
    }
}
.icon-remove {
    &:before {
        content: $icon-remove;
    }
}
.icon-warning {
    &:before {
        content: $icon-warning;
    }
}
.icon-settings {
    &:before {
        content: $icon-settings;
    }
}
.icon-share {
    &:before {
        content: $icon-share;
    }
}
.icon-star-line {
    &:before {
        content: $icon-star-line;
    }
}
.icon-star {
    &:before {
        content: $icon-star;
    }
}
.icon-thumb_down {
    &:before {
        content: $icon-thumb_down;
    }
}
.icon-thumb_up {
    &:before {
        content: $icon-thumb_up;
    }
}
.icon-timer {
    &:before {
        content: $icon-timer;
    }
}
.icon-round {
    &:before {
        content: $icon-round;
    }
}
