$icomoon-font-path: "fonts" !default;

$icon-move: "\e900";
$icon-menu: "\e5d2";
$icon-preferences: "\e429";
$icon-open: "\e2c8";
$icon-download: "\e2c0";
$icon-time: "\e8b5";
$icon-player: "\e853";
$icon-add: "\e145";
$icon-grid-solid: "\e5c3";
$icon-points: "\e6dd";
$icon-cancel: "\e5c9";
$icon-comment: "\e0ca";
$icon-check: "\e5ca";
$icon-success: "\e86c";
$icon-x: "\e5cd";
$icon-edit: "\e254";
$icon-drag_handle: "\e25d";
$icon-error: "\e000";
$icon-date: "\e24f";
$icon-event: "\e616";
$icon-first: "\e5dc";
$icon-fullscreen: "\e5d0";
$icon-fullscreen-exit: "\e5d1";
$icon-result: "\e90e";
$icon-star-solid: "\e838";
$icon-grid-line: "\e3ec";
$icon-help: "\e887";
$icon-info: "\e88e";
$icon-link: "\e157";
$icon-down: "\e313";
$icon-left: "\e314";
$icon-right: "\e315";
$icon-up: "\e316";
$icon-last: "\e5dd";
$icon-circle: "\e3fa";
$icon-pause: "\e034";
$icon-player-line: "\e7ff";
$icon-player-solid: "\e7fd";
$icon-play: "\e037";
$icon-site: "\e80b";
$icon-remove: "\e15b";
$icon-warning: "\e002";
$icon-settings: "\e8b8";
$icon-share: "\e80d";
$icon-star-line: "\e83a";
$icon-star: "\e8d0";
$icon-thumb_down: "\e8db";
$icon-thumb_up: "\e8dc";
$icon-timer: "\e425";
$icon-round: "\e923";

