// app global css

@font-face
  font-family 'Source Code Pro'
  font-style normal
  font-weight 300
  src url('./fonts/Source+Code+Pro_300_normal.woff')

@font-face
  font-family 'Source Code Pro'
  font-style normal
  font-weight 400
  src url('./fonts/Source+Code+Pro_400_normal.woff')

@font-face
  font-family 'Source Code Pro'
  font-style normal
  font-weight 600
  src url('./fonts/Source+Code+Pro_600_normal.woff')

@font-face
  font-family 'Source Code Pro'
  font-style normal
  font-weight 700
  src url('./fonts/Source+Code+Pro_700_normal.woff')

.absolute-fit
  position absolute
  top 0
  bottom 0
  left 0
  right 0

.highlight
  background-color $highlight

.fullwidth-padded-md
  padding-left $space-base
  margin-left - $space-base
  margin-right - $space-base

.q-item.q-router-link--active, .q-item--active
  color $accent

.q-page-sticky
  z-index 1000

.q-field__append
  align-self flex-end
  margin-right -7px
  padding-left 0

.q-message-text-content
  white-space pre-wrap
