// app global css

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Source+Code+Pro_300_normal.woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Source+Code+Pro_400_normal.woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Source+Code+Pro_600_normal.woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Source+Code+Pro_700_normal.woff');
}

.text-ui {
  color: $ui;
  color: var(--q-color-ui) !important;
}
.bg-ui {
  background: $ui;
  background: var(--q-color-ui) !important;
}
.text-player1 {
  color: $player1;
  color: var(--q-color-player1) !important;
}
.bg-player1 {
  background: $player1;
  background: var(--q-color-player1) !important;
}
.text-player2 {
  color: $player2;
  color: var(--q-color-player2) !important;
}
.bg-player2 {
  background: $player2;
  background: var(--q-color-player2) !important;
}

.q-dark {
  background: $accent;
  background: var(--q-color-accent);
}

.q-card, .q-card--dark,
.q-list, .q-list--dark,
.q-tab-panels, .q-tab-panels--dark {
  background: $ui;
  background: var(--q-color-ui);
}

::selection {
  background: $primary;
  background: var(--q-color-primary);
}

kbd {
  font-family: 'Source Code Pro';
  display: inline-block;
  padding: .17em .5em;
  margin: .1em 0;
  text-decoration: none;
  cursor: default;
  border-radius: .3em;
  background: $highlight;
  position: relative;
  + kbd {
    margin-left: .5em;
  }
}

.absolute-fit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.highlight {
  background-color: $highlight;
}

.dim {
  background-color: $dim;
}

.hover-info{
  $pad: 5px;
  padding: $pad;
  margin: -$pad;
  border-radius: 1em;
  background-color: rgba($highlight, .09);
}

.fullwidth-padded-md{
  padding-left: $space-base;
  padding-right: $space-base;
  margin-left: -$space-base;
  margin-right: -$space-base;
}

.ptn {
  font-size: 18px;
  line-height: 1.5em;
  color: $text-dark;
}

.board-move-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.q-dialog {
  .q-expansion-item .q-list {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.q-field__append {
  align-self: flex-end;
}
.q-message-text-content {
  white-space: pre-wrap;
}
.q-menu {
  user-select: none;
}
.q-notifications__list--top {
  top: $toolbar-min-height;
  z-index: 5000;
}

.q-notifications__list--bottom {
  bottom: 58px;
}

.q-date--dark, .q-time--dark {
  background: $ui;
  background: var(--q-color-ui);
}

.q-notification {
  transition: transform $generic-hover-transition,
    opacity $generic-hover-transition;
  @media (min-width: $breakpoint-sm-min) {
    & {
      max-width: 45vw;
    }
  }
  &.note {
    white-space: pre-line;
    .q-notification__message {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.q-slider__pin-value-marker-text {
  color: $ui;
}

.q-expansion-item--expanded > .q-expansion-item__container > .q-item {
  color: $primary;
  color: var(--q-color-primary);
}

.footer-toolbar {
  min-height: 58px;
  .q-btn:not(.q-btn--round) {
    border-radius: 0;
  }
}

.dimmed-btn {
  opacity: .15;
  @media (hover) {
    &:hover {
      opacity: 1;
    }
  }
}

::-webkit-scrollbar-corner {
  background: $separator-dark-color;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border: 0;
  box-shadow: none;
  background: $separator-dark-color;
  min-height: 40px;
}
