$primary   = $blue-grey-6
$secondary = $blue-grey-9
$accent    = $light-green-6

$positive  = #4CAF50
$negative  = #F44336
$info      = #2196F3
$warning   = #FFC107

$red-light = #EF5451
$red-dark = #E53A35
$orange-light = #FAA629
$orange-dark = #F47C20
$green-light = #9CCC65
$green-dark = #378E43
$blue-light = #36C2D6
$blue-dark = #1B87C9
$gray-light = $blue-grey-2
$gray-dark = $blue-grey-9
$highlight = rgba(#fff, .1)
