$primary   = $blue-grey-6
$secondary = $blue-grey-10
$accent    = $light-green-6

$positive  = $light-green-6
$negative  = #f44336
$info      = #2196f3
$warning   = #ffc107

$red-light = #ef5451
$red-dark = #e53a35
$red-med = saturate(lighten($red-light, 10%), 10%)
$orange-light = #faa629
$orange-dark = #f47c20
$orange-med = lighten($orange-light, 15%)
$green-light = #9ccc65
$green-dark = #378e43
$green-med = saturate(lighten($green-light, 15%), 20%)
$blue-light = #36c2d6
$blue-dark = #1b87c9
$blue-med = saturate(lighten($blue-light, 20%), 20%)
$gray-light = $blue-grey-2
$gray-dark = $blue-grey-10
$gray-med = $blue-grey-8
$highlight = rgba(#fff, .1)

$time = .3s
$half-time = $time / 2
$one-third-time = $time / 3
$two-thirds-time = $time * 2 / 3
$easing = cubic-bezier(.25, .8, .5, 1)
$easing-reverse = cubic-bezier(.5, 0, .75, .2)
