$primary   = $blue-grey-6
$secondary = $blue-grey-10
$accent    = $light-green-6

$positive  = $light-green-6
$negative  = #F44336
$info      = #2196F3
$warning   = #FFC107

$red-light = #EF5451
$red-dark = #E53A35
$orange-light = #FAA629
$orange-dark = #F47C20
$orange-med = lighten($orange-light, 15%)
$green-light = #9CCC65
$green-dark = #378E43
$green-med = saturate(lighten($green-light, 15%), 20%)
$blue-light = #36C2D6
$blue-dark = #1B87C9
$blue-med = saturate(lighten($blue-light, 20%), 20%)
$gray-light = $blue-grey-2
$gray-dark = $blue-grey-10
$gray-med = $blue-grey-1
$highlight = rgba(#fff, .1)

$time = .3s
$half-time = $time / 2
$one-third-time = $time / 3
$two-thirds-time = $time * 2 / 3
$easing = cubic-bezier(.25, .8, .5, 1)
$easing-reverse = cubic-bezier(.5, 0, .75, .2)
